.avatar {
    display: inline-block;
    img {
        border-radius: 50%;
    }
    p {
        color: #fff;
        float: right;
        margin-left: 20px;
    }

    span {
        color: red;
    }
}
.desc {
    p {
        color: #a0a7ab;
    }
}
.share {
    background-color: #292e38;
    color: #fff;
    height: 60px;
    border-radius: 10px;
    .share-title {
        margin: auto 8px;
    }
    i {
        font-size: 30px;
        padding-left: 8px;
    }
    i:hover {
        color: red;
    }
    .share-infor-icon {
        margin: auto 8px;
    }
}

.comment-desc {
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
}
.reply {
    width: 60%;
    margin: auto;

    p {
        color: #fff;
    }
    .input {
        input {
            font-weight: bold;
            border: 1px solid #2f3541;

            background-color: #181c23;
            margin: auto;
            width: 30%;
        }
    }
    .message {
        padding: 1.3333%;
        textarea {
            font-weight: bold;
            border-color: #2f3541;
            height: 200px;
            width: 100%;
            background-color: #181c23;
        }
    }
}
